.editorWrapper {
  display: table;
  width: 100%;
  
  #editor, #preview-md {
    display: inline-block;
  }
  
  .full {
    width: 100%;
  }
  .split {
    width: 50%;
  }
  .splitPreview {
    float: right;
    width: 49%;
  }
  .none {
    display: none !important;
  }
}

.editorSelect .btn-group{
  float: right;
}
